---
Checks: >-
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-unchecked-optional-access,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-non-const-global-variables,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-avoid-c-arrays,
  performance-*,
  portability-*,
  misc-*,
  -misc-non-private-member-variables-in-classes

WarningsAsErrors: '*'
