---
Checks: >-
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-unchecked-optional-access,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks
