repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: check-case-conflict
    - id: check-yaml
      args: ["--allow-multiple-documents"]
    - id: pretty-format-json
      args: ["--autofix", "--no-sort-keys"]
    - id: mixed-line-ending
    - id: trailing-whitespace
      exclude_types: ['diff']
    - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v21.1.6'
    hooks:
    - id: clang-format

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: 'v0.6.13'
    hooks:
    - id: cmake-format
