name: Build-Packages

on:
  schedule:
    # Run at 5:20am and 5:20pm every day
    - cron:  '20 5,17 * * *'
  pull_request:
  workflow_dispatch:
    inputs:
      ignore-cache:
        description: 'Always build regardless of cache'
        required: true
        default: false
        type: boolean

permissions:
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  VULKAN_SDK: ./VULKAN_SDK
  USERNAME: markridgewell
  FEED_URL: https://nuget.pkg.github.com/markridgewell/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/markridgewell/index.json,readwrite"
  VCPKG_FEATURE_FLAGS: dependencygraph

jobs:
  unified:
    strategy:
      fail-fast: false
      matrix:
        preset: ['msvc2022', 'make']
        sanitizer: ['OFF']

        include:
        - runner: windows-2022
          preset: msvc2022

        - runner: ubuntu-latest
          preset: make
          c-compiler: clang-18
          cpp-compiler: clang++-18

    name: ${{startsWith(matrix.runner, 'windows') && 'Windows' || 'Linux'}}
    runs-on: ${{matrix.runner}}

    env:
      CC: ${{matrix.c-compiler}}
      CXX: ${{matrix.cpp-compiler}}

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        lfs: false

    - name: Determine cache key
      id: cache-key
      uses: ./.github/actions/get-packages-cache-key
      with:
        sanitizer: ${{ matrix.sanitizer }}

    - name: Cache
      id: cache
      uses: actions/cache@v5.0.1
      with:
        key: ${{ steps.cache-key.outputs.cache-key }}
        path: './exports'

    - name: Install tools
      if: steps.cache.outputs.cache-hit != 'true' || inputs.ignore-cache
      uses: ./.github/actions/install-tools
      with:
        extra-packages: >
          ${{ matrix.c-compiler }}
          ${{ matrix.cpp-compiler }}
          ${{ runner.os == 'Linux' && 'mono-complete' || '' }}

    - name: Install NuGet (Linux only)
      if: (steps.cache.outputs.cache-hit != 'true' || inputs.ignore-cache) && runner.os == 'Linux'
      shell: 'bash'
      run: |
        bin=$HOME/nuget_bin
        mkdir $bin
        wget -O $bin/nuget.exe https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
        echo "mono $bin/nuget.exe \$@" > $bin/nuget
        chmod +x $bin/nuget
        echo "$bin" >> $GITHUB_PATH

    - name: 'Setup NuGet credentials'
      if: steps.cache.outputs.cache-hit != 'true' || inputs.ignore-cache
      shell: 'bash'
      run: |
        nuget sources add \
          -source "${{ env.FEED_URL }}" \
          -storepasswordincleartext \
          -name GitHubPackages \
          -userName "${{ env.USERNAME }}" \
          -password "${{ secrets.GITHUB_TOKEN }}"
        nuget setapikey "${{ secrets.GITHUB_TOKEN }}" \
          -source "${{ env.FEED_URL }}"

    - name: Configure CMake
      if: steps.cache.outputs.cache-hit != 'true' || inputs.ignore-cache
      run: >
        cmake --preset ${{matrix.preset}}
        -DTEIDE_SANITIZER=${{matrix.sanitizer}}
        -DVCPKG_INSTALL_OPTIONS=--x-abi-tools-use-exact-versions${{runner.debug && ';--debug' || ''}}

    - name: Dump CMake output logs
      if: failure()
      run: bash .github/scripts/dump-vcpkg-logs.sh ${{matrix.preset}}

    - name: Export packages
      if: steps.cache.outputs.cache-hit != 'true' || inputs.ignore-cache
      run: |
        vcpkg/vcpkg export --raw --output=exports --output-dir=. --x-install-root=build/${{matrix.preset}}/vcpkg_installed
        echo ""
        echo "::group::Contents of exported packages:"
        ls -R exports
        echo "::endgroup::"

    - name: Save packages as artifact
      if: steps.cache.outputs.cache-hit != 'true' || inputs.ignore-cache
      uses: actions/upload-artifact@v6.0.0
      with:
        name: vcpkg-export-${{ steps.cache-key.outputs.cache-key }}
        path: './exports'
