name: Build-and-Test

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:
    inputs:
      profile-cmake:
        description: 'Enable CMake trace'
        required: true
        default: false
        type: boolean
      coverage:
        description: 'Enable code coverage'
        required: true
        default: true
        type: boolean
      debug:
        description: 'Enable debug logging'
        required: true
        default: false
        type: boolean
      ccache:
        description: 'Enable ccache'
        required: true
        default: true
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CCACHE_DEBUGLLEVEL: 1
  CCACHE_DEBUGDIR: ${{ github.workspace }}/ccache_debug
  CCACHE_LOGFILE: ${{ github.workspace }}/ccache.log
  CCACHE_SLOPPINESS: include_file_ctime,include_file_mtime

  EXTRA_CMAKE_FLAGS: ${{inputs.profile-cmake && '--trace-expand --profiling-format=google-trace --profiling-output=CMakeTrace.json' || ''}}

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        toolchain: [msvc2022, msvc2022-clang, g++-14, clang++-18]
        buildtype: [Debug, Release]
        sanitizer: [OFF]
        include:

        # Overrides
        - toolchain: msvc2022
          runner: windows-2022
          preset: msvc2022
          coverage: true

        - toolchain: msvc2022-clang
          runner: windows-2022
          preset: msvc2022-clang
          coverage: false

        - toolchain: g++-14
          runner: ubuntu-24.04
          preset: make
          compiler: g++-14
          coverage: false

        - toolchain: clang++-18
          runner: ubuntu-24.04
          preset: make
          compiler: clang++-18
          coverage: true

        # Additional jobs
        - preset: make
          buildtype: Debug
          runner: ubuntu-24.04
          compiler: clang++-18
          sanitizer: ASAN
          name-suffix: -asan

        - preset: make
          buildtype: Debug
          runner: ubuntu-24.04
          compiler: clang++-18
          sanitizer: UBSAN
          name-suffix: -ubsan

    name: ${{startsWith(matrix.runner, 'windows') && 'Windows' || 'Linux'}}-${{matrix.buildtype}}-${{matrix.toolchain}}${{matrix.name-suffix}}
    runs-on: ${{matrix.runner}}

    env:
      job_name: ${{startsWith(matrix.runner, 'windows') && 'Windows' || 'Linux'}}-${{matrix.buildtype}}-${{matrix.toolchain}}${{matrix.name-suffix}}
      use_ccache: ${{ (inputs.ccache || github.event_name != 'workflow_dispatch') && !(matrix.preset == 'msvc2022' && matrix.coverage == 'ON') }}
      CMAKE_BUILD_TYPE: ${{matrix.buildtype}}
      RT_OUTPUT_DIR: build/${{matrix.preset}}/tests/RenderTest/RenderTestOutput
      CXX: ${{matrix.compiler}}

    outputs:
      rendertest-failures: ${{steps.rendertest.outputs.failure == 'true'}}
      rendertest-successes: ${{steps.rendertest.outputs.success == 'true'}}

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        lfs: true
        submodules: false

    - name: Install packages
      id: packages
      uses: ./.github/actions/install-packages
      with:
        sanitizer: ${{matrix.sanitizer}}

    - if: matrix.coverage == 'ON' && runner.os == 'Windows'
      name: Install OpenCppCoverage
      uses: ./.github/actions/choco-install
      with:
        package-name: OpenCppCoverage
        package-version: 0.9.9.0

    - name: Install tools
      uses: ./.github/actions/install-tools
      with:
        extra-packages: >
          ${{ matrix.compiler }}
          ${{ env.use_ccache && 'ccache' || '' }}
          ${{ (inputs.coverage && matrix.coverage && runner.os == 'Windows') && 'OpenCppCoverage' || '' }}
          ${{ runner.os == 'Linux' && 'vulkan-validationlayers' || '' }}
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Install Vulkan SDK
      uses: humbletim/setup-vulkan-sdk@v1.2.1
      with:
        vulkan-query-version: 1.3.243.0
        vulkan-components: Vulkan-Headers, Vulkan-Loader
        vulkan-use-cache: true

    - name: Setup ccache
      id: ccache
      if: env.use_ccache
      shell: bash
      run: |
        if [ ${{ runner.debug || inputs.debug }} ]; then
          echo "CCACHE_DEBUG=1" >> $GITHUB_ENV
        fi
        echo "CCACHE_DIR=$(ccache -k cache_dir)" >> $GITHUB_ENV
        key_prefix=ccache_${{ env.job_name }}_
        echo "key=${key_prefix}${{ github.run_id }}" >> $GITHUB_OUTPUT
        echo "restore-key=${key_prefix}" >> $GITHUB_OUTPUT

        echo "Ccache options"
        echo "--------------"
        echo "cache_dir    $(ccache -k cache_dir)"
        echo "debug_dir    $(ccache -k debug_dir)"
        echo "debug        $(ccache -k debug)"
        echo "debug_level  $(ccache -k debug_level)"
        echo "log_file     $(ccache -k log_file)"

    - name: Restore ccache dir
      # I heard you like caches, so I put some caches in your caches
      id: ccache-restore
      if: env.use_ccache
      uses: actions/cache/restore@v5.0.1
      with:
        path: ${{ env.CCACHE_DIR }}
        key: ${{ steps.ccache.outputs.key }}
        restore-keys: ${{ steps.ccache.outputs.restore-key }}

    - name: Configure CMake
      run: >
        cmake --preset ${{matrix.preset}}
        -DTEIDE_USE_VCPKG=${{!steps.packages.outputs.success}}
        -DCMAKE_PREFIX_PATH=${{steps.packages.outputs.install-dir}}
        -DTEIDE_CCACHE=${{env.use_ccache}}
        -DTEIDE_PRECOMPILED_HEADERS=${{!env.use_ccache}}
        -DTEIDE_UNIT_TEST_SW_RENDER=ON
        -DTEIDE_TEST_WINDOWLESS=${{runner.os == 'Linux'}}
        -DTEIDE_TEST_COVERAGE=${{matrix.coverage}}
        -DTEIDE_TEST_VERBOSE=${{runner.debug || inputs.debug}}
        -DTEIDE_SANITIZER=${{matrix.sanitizer}}
        -DCMAKE_CONFIGURATION_TYPES=${{matrix.buildtype}}
        -DCMAKE_TRY_COMPILE_CONFIGURATION=${{matrix.buildtype}}
        ${{env.EXTRA_CMAKE_FLAGS}}

    - name: Save CMake trace
      if: always() && inputs.profile-cmake
      uses: actions/upload-artifact@v6.0.0
      with:
        name: CMakeTrace-${{env.job_name}}
        path: ./CMakeTrace.json

    - name: Build
      shell: bash
      run: |
        mkdir -p ${{ env.CCACHE_DIR }}
        ccache --zero-stats

        cmake --build --preset ${{matrix.preset}} --config ${{matrix.buildtype}}

        echo "::group::Ccache stats"
        ccache -sv
        echo "::endgroup::"

        echo "::group::Ccache config"
        ccache -p
        echo "::endgroup::"

        echo "::group::Ccache log"
        ls $CCACHE_LOGFILE
        cat $CCACHE_LOGFILE
        echo "::endgroup::"

    - name: Save ccache dir
      if: env.use_ccache
      uses: actions/cache/save@v5.0.1
      with:
        path: ${{ env.CCACHE_DIR }}
        key: ${{ steps.ccache-restore.outputs.cache-primary-key }}

    - name: Dump CMake output logs
      if: failure()
      shell: bash
      run: |
        paths="external/vcpkg build/${{matrix.preset}}"
        for file in $(find $paths -name '*.log'); do
            if [ -s $file ]; then
                echo "::group::$file"
                cat $file
                echo "::endgroup::"
            fi
        done

    - name: Test
      id: test
      run: ctest --preset ${{matrix.preset}} --build-config ${{matrix.buildtype}} --verbose --output-on-failure --no-tests=error

    - name: Save render test output
      if: failure() && steps.test.outcome == 'failure'
      uses: actions/upload-artifact@v6.0.0
      with:
        name: RenderTestOutput-${{env.job_name}}
        path: ${{env.RT_OUTPUT_DIR}}
        if-no-files-found: ignore

    - name: Record render test outcome
      id: rendertest
      if: always()
      shell: bash
      run: |
        if [ -d "$RT_OUTPUT_DIR" ]; then
          echo "failure=true" >> "$GITHUB_OUTPUT"
        else
          echo "success=true" >> "$GITHUB_OUTPUT"
        fi

    - name: Save test log
      if: failure() && steps.test.outcome == 'failure'
      uses: actions/upload-artifact@v6.0.0
      with:
        name: TestLog-${{env.job_name}}
        path: build/${{matrix.preset}}/Testing/Temporary/LastTest.log

    - name: Upload coverage report
      if: matrix.coverage == 'ON'
      uses: codecov/codecov-action@v5.5.2
      with:
        directory: build/${{matrix.preset}}/coverage/output
        fail_ci_if_error: false
        verbose: true
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Save coverage report
      if: matrix.coverage == 'ON'
      uses: actions/upload-artifact@v6.0.0
      with:
        name: CoverageReport-${{env.job_name}}
        path: build/${{matrix.preset}}/coverage/output

    - name: Delete old caches
      shell: bash
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        set +e # don't fail the job if there's an error here
        for key in $(gh cache list \
          --ref ${{ github.ref }} \
          --key 'ccache_${{ env.job_name }}_' \
          --json key --jq '.[].key' \
          | grep 'ccache_${{ env.job_name }}_')
        do
          # Don't delete the cache we just created!
          # (this becomes important on workflow reruns)
          if [[ ${key} != ${{ steps.ccache.outputs.key }} ]]; then
            echo ${key}
            gh cache delete ${key}
          fi
        done


  render-test-report:
    name: Render-Test-Report
    runs-on: ubuntu-latest
    needs: [build-and-test]
    if: failure()
    env:
      GH_TOKEN: ${{github.token}}
      ANY_PASSED: "${{needs.build-and-test.outputs.rendertest-successes}}"
      ANY_FAILED: "${{needs.build-and-test.outputs.rendertest-failures}}"

    steps:
    - uses: actions/download-artifact@v7.0.0
      if: needs.build-and-test.outputs.rendertest-failures
      with:
        path: artifacts

    - name: Generate summary
      run: |
        if $ANY_FAILED; then
          URL="https://markridgewell.github.io/TeideStats/rendertest.html?run_id=${{github.run_id}}"
          echo "Render tests failed. [Click for details]($URL)" >> $GITHUB_STEP_SUMMARY
        else
          echo "Render tests passed." >> $GITHUB_STEP_SUMMARY
        fi

    - name: Display structure of downloaded files
      if: needs.build-and-test.outputs.rendertest-failures
      run: ls -R
      working-directory: artifacts


  time-report:
    name: Time-Report
    runs-on: ubuntu-latest
    needs: [build-and-test]
    if: github.event_name == 'push'
    env:
      GH_TOKEN: ${{github.token}}

    steps:
    - name: Get workflow run data
      run: |
        echo "Build-and-Test workflow completed, run_id: ${{github.run_id}}"
        echo -n '{"run_data":' > ${{github.sha}}.json
        gh api \
          -H "Accept: application/vnd.github+json" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          /repos/${{github.repository}}/actions/runs/${{github.run_id}} \
          >> ${{github.sha}}.json
        echo -n ', "job_data":' >> ${{github.sha}}.json
        gh api \
          -H "Accept: application/vnd.github+json" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          /repos/${{github.repository}}/actions/runs/${{github.run_id}}/jobs \
          >> ${{github.sha}}.json
        echo -n '}' >> ${{github.sha}}.json

    - name: Push workflow run data
      uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
      env:
        API_TOKEN_GITHUB: ${{secrets.API_TOKEN_TEIDESTATS}}
      with:
        source_file: '${{github.sha}}.json'
        destination_repo: '${{github.repository}}Stats'
        destination_folder: 'build_times'
        user_email: '${{github.actor_id}}+${{github.actor}}@users.noreply.github.com'
        user_name: '${{github.actor}}'
        commit_message: 'Add workflow run for commit ${{github.sha}}'
