name: Check-Readme

on:
  push:
    branches: [ main ]
    paths:
    - 'README.md'
    - 'CMakePresets.json'
    - '**CMakeLists.txt'
  workflow_dispatch:

env:
  VULKAN_SDK: ./VULKAN_SDK

jobs:
  job:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        include:
        - os: windows-latest
          preset: msvc2022
        - os: ubuntu-latest
          preset: make

    runs-on: ${{matrix.os}}

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.2
      with:
        lfs: false
        submodules: recursive

    - name: Install tools
      uses: ./.github/actions/install-tools

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11.5
      with:
        vcpkgDirectory: '${{github.workspace}}/external/vcpkg'
        vcpkgJsonGlob: 'vcpkg.json'

    - name: Check readme
      run: python ${{github.workspace}}/tools/check_readme.py
