name: Run-Benchmarks

on:
  workflow_dispatch:
    inputs:
      base-branch:
        description: 'Branch to compare benchmark against'
        required: true
        default: main
        type: string
      repetitions:
        description: 'Number of times to run each benchmark'
        required: true
        default: 10
        type: number

jobs:
  benchmark:
    name: Run-Benchmarks
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0
        submodules: false

    - name: Install packages
      id: packages
      uses: ./.github/actions/install-packages

    - name: Install tools
      uses: ./.github/actions/install-tools
      with:
        extra-packages: g++-14

    - name: Install google benchmark tools
      run: |
        git clone https://github.com/google/benchmark.git
        python -m pip install -r benchmark/tools/requirements.txt

    - name: Run benchmark script
      run: |
        base_ref=$(git merge-base "${{github.sha}}" "origin/${{inputs.base-branch}}")
        python tools/benchmark.py compare \
          --preset g++-14 \
          --out-dir benchmark_results \
          --out-report report.txt \
          --out-summary summary.md \
          --compare benchmark/tools/compare.py \
          --repetitions ${{inputs.repetitions}} \
          --sw-render \
          -DTEIDE_USE_VCPKG=OFF \
          -DCMAKE_PREFIX_PATH=${{steps.packages.outputs.install-dir}} \
          -DTEIDE_PRECOMPILED_HEADERS=ON \
          "$base_ref" "${{github.sha}}"

    - name: Write PR comment
      env:
        GH_TOKEN: ${{github.token}}
      run: |
        (
          echo "## Benchmark Report"
          cat summary.md
          echo "<details><summary>Full report</summary>"
          echo ""
          echo '```'
          cat report.txt
          echo '```'
          echo ""
          echo "</details>"
        ) >> comment.md

        bash .github/scripts/update-comment.sh ${{github.ref_name}} github-actions comment.md

    - name: Save output
      uses: actions/upload-artifact@v5.0.0
      with:
        name: BenchmarkResults
        path: benchmark_results
