
name: Static-Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      commit-fixes:
        description: 'Commit suggested fixes to branch'
        required: true
        default: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  clang_tidy_version: 19
  pattern: '\.\(c\|cpp\|cc\|cxx\|h\|hpp\)$'

jobs:
  cppcheck:
    name: Cppcheck
    runs-on: windows-latest
    env: { preset: msvc2022 }

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}
        submodules: true

    - name: Get changed files
      id: get-changes
      uses: ./.github/actions/get-changed-files
      with:
        filter-pattern: ${{env.pattern}}

    - name: Install packages
      if: steps.get-changes.outputs.changed-files != ''
      id: packages
      uses: ./.github/actions/install-packages

    - name: Install tools
      if: steps.get-changes.outputs.changed-files != ''
      uses: ./.github/actions/install-tools
      with:
        extra-packages: cppcheck

    - name: Configure CMake
      if: steps.get-changes.outputs.changed-files != ''
      run: >
        cmake --preset ${{env.preset}}
        -DTEIDE_CPPCHECK=ON
        -DTEIDE_USE_VCPKG=OFF
        -DCMAKE_PREFIX_PATH=${{steps.packages.outputs.install-dir}}

    - name: Run Cppcheck
      if: steps.get-changes.outputs.changed-files != ''
      shell: bash
      env:
        TEIDE_CPPCHECK_ARGS: --output-format=sarif;--output-file=sarif/cppcheck.sarif
      run: |
        mkdir -p sarif
        if ! cmake --build --preset ${{env.preset}} --target Cppcheck; then
          # Fix paths by appending file:///
          jq '.runs.[].results.[].locations.[].physicalLocation.artifactLocation.uri |= "file:///"+.' <sarif/cppcheck.sarif >tmp.sarif && mv tmp.sarif sarif/cppcheck.sarif

          echo
          echo "Results:"
          jq --compact-output <sarif/cppcheck.sarif
          exit 1
        fi

    - name: Upload SARIF files
      if: always() && steps.get-changes.outputs.changed-files != ''
      uses: github/codeql-action/upload-sarif@v4.31.8
      with:
        sarif_file: sarif
        checkout_path: ${{ github.workspace }}
        category: cppcheck

  clang-tidy:
    name: ClangTidy
    runs-on: ubuntu-latest
    env:
      preset: make
      GH_TOKEN: ${{ github.token }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}
        submodules: true

    - name: Get changed files
      id: get-changes
      uses: ./.github/actions/get-changed-files
      with:
        filter-pattern: ${{env.pattern}}

    - name: Install packages
      if: steps.get-changes.outputs.changed-files != ''
      id: packages
      uses: ./.github/actions/install-packages
      with:
        fail-on-cache-miss: true

    - name: Install tools
      if: steps.get-changes.outputs.changed-files != ''
      uses: ./.github/actions/install-tools
      with:
        extra-packages: clang-tidy-${{env.clang_tidy_version}} clang-tools

    - name: Configure CMake
      if: steps.get-changes.outputs.changed-files != ''
      run: >
        cmake --preset ${{env.preset}}
        -DTEIDE_CLANG_TIDY=ON
        -DTEIDE_USE_VCPKG=OFF
        -DCMAKE_PREFIX_PATH=${{steps.packages.outputs.install-dir}}

    - name: Run clang-tidy
      if: steps.get-changes.outputs.changed-files != ''
      env:
        CLANG_TIDY_SOURCES: ${{steps.get-changes.outputs.changed-files}}
      run: |
        sudo ln -sf `which clang-tidy-${{env.clang_tidy_version}}` /usr/bin/clang-tidy
        cmake --build --preset ${{env.preset}} --target ClangTidy

    - name: Report issues as PR comments
      if: failure() && github.event_name == 'pull_request'
      uses: reviewdog/action-suggester@v1.24.0
      with:
        tool_name: clang-tidy

    - name: Commit fixes to branch
      if: failure() && inputs.commit-fixes
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git status
        git add -u .
        git commit -m "Apply fixes from clang-tidy"
        git push

    - name: Push changes
      if: failure() && inputs.commit-fixes
      uses: ad-m/github-push-action@v1.0.0

    - name: Save fixes as build artifact
      if: failure()
      uses: actions/upload-artifact@v5.0.0
      with:
        name: clang-tidy-fixes
        path: ${{github.workspace}}/build/${{env.preset}}/clang-tidy-fixes.yaml
