name: Update-Actions

# Controls when the action will run.
on:
  schedule:
    # Automatically run on the first of each month
    - cron:  '0 0 1 * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.1
      with:
        lfs: false
        # [Required] Access token with `workflow` scope.
        token: ${{secrets.API_TOKEN_UPDATEACTIONS}}

    - run: rm -r .git/hooks/

    - name: Run GitHub Actions Version Updater
      uses: saadmk11/github-actions-version-updater@v0.9.0
      with:
        # [Required] Access token with `workflow` scope.
        token: ${{secrets.API_TOKEN_UPDATEACTIONS}}
